<div class="about-container">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Bienvenidos al portal del empleado</mat-card-title>
      <mat-card-subtitle>Created by: Manuel Gallego</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt quod ex
        magnam debitis repudiandae unde. Repudiandae soluta iste eius natus
        minus, architecto molestias? Ad odit provident facere. Deleniti, illo
        deserunt.
      </p>
    </mat-card-content>
  </mat-card>
</div>
